<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.0" />
    <customErrors mode="Off"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="tr-TR" uiCulture="tr-TR" />
  </system.web>
<system.webServer>   
    <defaultDocument enabled="true">     
        <files>       
        <clear/>       
        <add value="index.html"/>       
        <add value="anasayfa.html"/>       
        <add value="Login.aspx"/>       
        <add value="Open.aspx"/>     
        </files>   
    </defaultDocument>
    <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:05:00" />
    </staticContent>
</system.webServer>
</configuration>
